<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto py-8 text-center">
        <h1 class="text-3xl font-bold mb-6">You have successfully logged out.</h1>
        <a href="{% url 'song_list' %}" class="text-blue-500 hover:underline">Return to Song List</a>
    </div>
</body>
</html>
